<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dam.peluqueriacanina">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeluqueriaCanina">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".UbicacionTiempoRealActivity"
            android:exported="true"
            android:label="@string/title_activity_ubicacion_tiempo_real" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatosAnimalActivity"
            android:exported="false" />
        <activity
            android:name=".VeterinariaActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarAnimal"
            android:exported="false" />
        <activity
            android:name=".PeluqueriaActivity"
            android:exported="true" />
        <activity
            android:name=".registro.Registro6"
            android:exported="false" />
        <activity
            android:name=".registro.Registro4"
            android:exported="false" />
        <activity
            android:name=".registro.Registro5"
            android:exported="false" />
        <activity
            android:name=".registro.Registro3"
            android:exported="false" />
        <activity
            android:name=".registro.Registro2"
            android:exported="false" />
        <activity
            android:name=".registro.Registro1"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.peluqueriacanina.mycamera.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>